.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-size: 24px; /* Base font size */
    text-align: center;
    cursor: pointer;
}

pre {
    font-size: 48px; /* Base font size for pre */
    font-weight: bold;
    max-width: 70%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
    line-height: 1.6;
    white-space: pre-wrap; /* 保留空白符序列,但是长单词会自动换行 */
    word-wrap: break-word;
}

p {
    font-size: 28px; /* Base font size for p */
    font-style: italic;
    align-self: flex-end;
    margin-right: 300px; /* Fixed margin might not be responsive */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Responsive styles */
@media (max-width: 1200px) {
    pre {
        font-size: 46px; /* Smaller font size for pre on medium screens */
        font-weight: bold;
        max-width: 75%;
        text-align: left;
    }

    p {
        font-size: 26px; /* Smaller font size for p on medium screens */
        margin-right: 300px; /* Adjust margin for medium screens */
    }
}

@media (max-width: 768px) {
    .App {
        font-size: 18px; /* Smaller font size for base text on small screens */
    }

    pre {
        font-size: 33px; /* Smaller font size for pre on small screens */
        font-weight: bold;
        max-width: 90%;
        text-align: left;
    }

    p {
        font-size: 24px; /* Smaller font size for p on small screens */
        margin-right: 88px;
    }
}

@media (max-width: 480px) {
    pre {
        font-size: 32px; /* Even smaller font size for pre on very small screens */
        font-weight: bold;
        max-width: 90%;
        text-align: left;
    }

    p {
        font-size: 23px; /* Even smaller font size for p on very small screens */
        margin-right: 86px;
    }
}


.copy-button {
    position: fixed; /* Make the button position fixed */
    bottom: 25px; /* Position the button 20 pixels from the bottom of the page */
    right: 25px; /* Position the button 20 pixels from the right of the page */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #666;
    transition: color 0.88s;
}

.copy-button:hover {
    color: #333;
}

.copied-message {
    position: fixed;
    font-weight: bold;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    font-size: 66px;
    color: purple;
    z-index: 999;
}