.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: #fff;
    position: relative;
    user-select: none; /* 禁用双击选中文本 */
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    background: url('./img/background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: black;
    color: #ffffff;
    user-select: none; /* 禁用双击选中文本 */
}


/* 移动设备背景图片 */
@media screen and (max-width: 768px) {
  .content-wrapper {
    background-image: url('./img/appbackground1.jpg');
  }
}

@media screen and (max-width: 480px) {
  .content-wrapper {
    background-image: url('./img/appbackground1.jpg');
  }
}


pre {
    font-size: 49px;
    font-weight: bold;
    max-width: 70%;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    text-align: justify-all;
    line-height: 1.6;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto; /* 添加滚动条 */
    scroll-behavior: smooth; /* 平滑滚动，需要浏览器支持 */
    animation: fadeIn 0.6s ease-in-out;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


p {
    font-size: 28px;
    font-weight: normal;
    /*font-style: italic;*/
    letter-spacing: 3px;
    transform: skew(-10deg);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    text-align: justify-all;
    padding-left: 18%;
    max-width: 100%;
    animation: fadeIn 0.6s ease-in-out;
}


@media (max-width: 1200px) {
    pre {
        font-size: 47px;
        max-width: 81%;
        text-align: justify-all;
    }

    p {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    pre {
        font-size: 34px;
        max-width: 90%;
        text-align: justify-all;
    }

    p {
        font-size: 24px;
        letter-spacing: 1px;
        padding-left: 0%;
    }
}

@media (max-width: 480px) {
    pre {
        font-size: 33px;
        max-width: 91%;
        text-align: justify-all;
    }

    p {
        font-size: 23px;
        letter-spacing: 1px;
        padding-left: 0%;
    }
}

.copy-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #d0d0d0;
    transition: color 0.68s;
}

.copy-button:hover {
    color: #E6E6FA;
}

.copied-message {
    position: fixed;
    font-weight: bold;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    font-size: 88px;
    color: BlueViolet;
    z-index: 999;
}

@media (max-width: 1200px) {
    .copied-message {
        font-size: 88px;
    }
}

@media (max-width: 768px) {
    .copied-message {
        font-size: 77px;
    }
}

@media (max-width: 480px) {
    .copied-message {
        font-size: 66px;
    }
}






