.App {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    color: #fff;
    position: relative;
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    background: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
    user-select: none; /* 禁用双击选中文本 */
}

pre {
    font-size: 48px;
    font-weight: bold;
    max-width: 77%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: justify;
    line-height: 1.6;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto; /* 添加滚动条 */
    scroll-behavior: smooth; /* 平滑滚动，需要浏览器支持 */
}

p {
    font-size: 28px;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: right;
}

@media (max-width: 1200px) {
    pre {
        font-size: 46px;
        max-width: 80%;
    }

    p {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    pre {
        font-size: 33px;
        max-width: 90%;
    }

    p {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    pre {
        font-size: 32px;
        max-width: 92%;
    }

    p {
        font-size: 23px;
    }
}

.copy-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #888;
    transition: color 0.68s;
}

.copy-button:hover {
    color: #E6E6FA;
}

.copied-message {
    position: fixed;
    font-weight: bold;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    font-size: 88px;
    color: BlueViolet;
    z-index: 999;
}

@media (max-width: 1200px) {
    .copied-message {
        font-size: 88px;
    }
}

@media (max-width: 768px) {
    .copied-message {
        font-size: 77px;
    }
}

@media (max-width: 480px) {
    .copied-message {
        font-size: 66px;
    }
}







